Package: com.zenith.zenmusic
Version: 1.1
Architecture: iphoneos-arm
Maintainer: Superuser (Zenith) <joshuah345@gmail.com>
Depends: com.matchstic.xenhtml, com.junesiphone.xeninfo
Section: Widgets
Description: A modified version of Junesiphone's XenMusic to be square and slightly more customizable
Author: Superuser (Zenith) <joshuah345@gmail.com>
Depiction: https://superuser.ml/depictions/?p=com.zenith.zenmusic
