 html {
    font-family: "Circular Sp UI v3 T";
}

.Widget {
    width:350px;
    height:40px;
}

.container, body {
    width: 350px;
    height: 40px;
    align-self: center;
    border-width: 1px;
    z-index: -1;
}

.container div {
    position: absolute;
}


.buttons:before {
 background-color: white;
 display: block;
}

.buttons {
    filter: invert(1);
    position: absolute;
    right:25px;
    top: 13px;
    margin-left: 0px;
    z-index:2;
}

.text {
    left: 20px;
    z-index: 2; 
}

#title {
    font-size:10px;
    white-space: nowrap;
    overflow: scroll;
    top: 5px;
    width: 210px;
}

#artist {
    font-size: 9px;
    top: 20px;
    overflow:scroll;
    white-space: nowrap;
}
