/* CSS by Cory L (https://codepen.io/TheVVaFFle/pen/NMjGWN) - Modified by Daniell */


* {
    padding: 0;
    margin: 0
}

#notification #info #controls,
#notification #info #specifics {
    margin: 0 12px 8px
}

#notification,
#notification #settings {
    transform: translateX(-50%) translateY(-50%);
    position: relative;
}

#notification #info #specifics,
#notification #info #specifics h1.artist,
#notification .service,
#notification .service h1.details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

body h1,
html h1 {
    font-family: Circular Sp UI v3 T
}

#hint {
    margin: 10px
}

#hint h1 {
    color: #03a9f4;
    font-size: .8em;
    font-weight: 400;
    margin: 0;
    text-align: center
}

#container {
    width: 80%;
    height: 90px
}

#notification {
    box-shadow: rgba(0, 0, 0, .16) 0 3px 10px, rgba(0, 0, 0, .23) 0 3px 10px;
    height: 90px;
    left: 50%;
    overflow: hidden;
    top: 50%;
    width: 100%
}

#notification #image,
#notification #info {
    height: 90px;
    position: absolute
}

#notification #info {
    background-color: #fff;
    width: 70%;
    z-index: 2
}

#notification #image {
    right: 0;
    top: 0;
    width: 30%;
}

#notification #info:after {
    background: linear-gradient(to right, rgba(0, 0, 0, .815), transparent);
    content: '';
    height: 90px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 80px
}

#notification #info #specifics h1 {
    font-size: .6em;
    font-weight: 400;
    margin: 0
}

#notification #info #specifics h1.song {
    color: #ddae79
}

#notification #info #specifics h1.artist {
    color: #c8947c
}

#notification #info #controls i {
    color: #202727;
    display: inline-block;
    font-size: .8em;
    margin: 0 10px
}

#notification #info #controls i:first-child {
    margin-left: 0
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 90px
}

#notification #settings {
    background-color: #fff;
    border-radius: 1000px;
    height: 20px;
    opacity: 0;
    transition: all .5s, border-radius .75s;
    width: 20px;
    z-index: 11
}

#notification #settings #settings-contents {
    background-color: #e6e6e6;
    height: 90px;
    opacity: 0;
    position: relative;
    transition: all .25s
}

#notification #settings #settings-contents .service h1,
#notification #settings #settings-contents .service i {
    color: #282828
}

#notification #settings #settings-contents #details {
    margin: 2px 12px 8px
}

#notification #settings #settings-contents #details h1 {
    font-weight: 400;
    margin: 0
}

#notification #settings #settings-contents #details .main {
    color: #282828;
    font-size: .7em
}

#notification #settings #settings-contents #details .sub {
    color: #787878;
    font-size: .6em;
    margin-top: 2px
}

#notification #settings #settings-contents #done {
    border-radius: 2px;
    bottom: 0;
    cursor: pointer;
    margin: 12px 8px;
    padding: 4px 6px;
    position: absolute;
    right: 0
}

#notification #settings #settings-contents #done:hover {
    background-color: #dcdcdc
}

#notification #settings #settings-contents #done h1 {
    color: #03a9f4;
    font-size: .7em;
    font-weight: 400;
    margin: 0
}

#notification .service {
    margin: 8px 12px;
    height: 12px
}

#notification .service h1,
#notification .service i {
    color: #202727;
    display: inline-block;
    font-size: .6em;
    height: 12px;
    line-height: 12px;
    margin: 0;
    vertical-align: top
}

#notification .service h1 {
    font-weight: 400
}

#notification .service h1.details {
    color: #c8947c
}